@model  ParcialDos.Models.ViewModels.EstudianteViewModel
@{
    ViewBag.Title = "Registrador";
}

@using (Html.BeginForm("Registrore", "Estudiante", FormMethod.Post))
{
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />
    </head>
    <body>

        <div class="animate__animated animate__backInDown">

            <h2>Registro</h2>
            <br />
            @Html.LabelFor(m => m.LastName)
            <br />
            @Html.TextBoxFor(m => m.LastName)
            <br />
            @Html.ValidationMessageFor(m => m.LastName , null)
            <br />
            @Html.LabelFor(m => m.FirstMidName)
            <br />
            @Html.TextBoxFor(m => m.FirstMidName)
            <br />
            @Html.ValidationMessageFor(m => m.FirstMidName, null)
            <br />
            @Html.LabelFor(m => m.EnrrollmentsDate)
            <br />
            @Html.TextBoxFor(m => m.EnrrollmentsDate, new { type = "datetime" })
            <br />
            @Html.ValidationMessageFor(m => m.EnrrollmentsDate , null)
            <br />


            <input type="submit" class="btn btn-default" />
        </div>
    </body>
</html>


}


@section Scripts{
    @Scripts.Render("~/bundles/jqueryval")
}








